@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", Helvetica, Arial, sans-serif;
  color: #222222;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

.superinfo-bg {
  background-color: #122ab2;
  color: #FFF;
}
.superinfo-bg .superinfo {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 10px;
}
.superinfo-bg .superinfo p, .superinfo-bg .superinfo a {
  margin: 0 10px 10px;
}
.superinfo-bg .superinfo a {
  color: #FFF;
}

.menu-bg {
  background-color: #2c70ff;
}
.menu-bg .menu {
  max-width: 960px;
  margin: 0 auto;
  padding: 15px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.menu-bg .menu a {
  color: #FFF;
}
.menu-bg .menu .menu-logo {
  font-size: 2.25em;
  font-weight: bold;
  margin: 0 10px;
}
.menu-bg .menu nav ul {
  display: flex;
  flex-wrap: wrap;
}
.menu-bg .menu nav ul a {
  font-size: 1.25em;
  display: block;
  padding: 10px;
  transition: all ease 0.3s;
}
.menu-bg .menu nav ul a:hover {
  color: #222222;
}

.introducao {
  font-size: 3em;
  line-height: 1;
  max-width: 960px;
  margin: 0 auto;
  padding: 60px 10px;
}

.sobre {
  border-top: 1px solid #2c70ff;
  border-bottom: 1px solid #2c70ff;
  max-width: 960px;
  margin: 0 auto;
  padding: 60px 0;
  display: flex;
  flex-wrap: wrap;
}
.sobre .sobre-info {
  flex: 2 1 300px;
  margin: 0 10px;
}
.sobre .sobre-info h1 {
  font-size: 3em;
  margin-bottom: 0.5em;
}
.sobre .sobre-info p {
  font-size: 1.25em;
  line-height: 1.4;
  margin-bottom: 1em;
  color: #7c7c7c;
}
.sobre .sobre-img {
  flex: 1 1 160px;
  margin: 0 10px;
}

.produtos {
  max-width: 960px;
  margin: 60px auto;
}
.produtos h1 {
  font-size: 3em;
  margin: 0 10px 60px;
}
.produtos .produtos-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}
.produtos .produtos-container .produtos-item {
  flex: 1 1 175px;
  margin: 10px;
}
.produtos .produtos-container .produtos-item h2 {
  font-size: 3em;
  color: #a4a4a4;
  background: #f7f7f7;
  padding: 60px 20px;
}
.produtos .produtos-container .purple {
  border-top: 8px solid #ae81ff;
}
.produtos .produtos-container .pink {
  border-top: 8px solid #ae81ff;
}
.produtos .produtos-container .blue {
  border-top: 8px solid #66d9eb;
}

.preco {
  background: #f7f7f7;
  padding: 60px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}
@media (max-width: 800px) {
  .preco {
    padding-left: 10px;
    padding-right: 10px;
  }
  .preco:nth-child(3) {
    order: -2;
  }
  .preco:nth-child(3) {
    order: -2;
  }
  .preco:nth-child(3) {
    order: -2;
  }
}
.preco .preco-item {
  flex: 1 1 260px;
  border: 4px solid #fff;
  padding: 20px;
  margin: 10px;
}
@media (max-width: 800px) {
  .preco .preco-item:nth-child(3) {
    order: -2;
  }
  .preco .preco-item:nth-child(2) {
    order: -1;
  }
}
.preco .preco-item h2 {
  font-size: 3em;
  color: #a4a4a4;
  text-align: center;
  margin-top: 20px;
}
.preco .preco-item span {
  max-width: 300px;
  margin: 20px auto;
  display: block;
  font-size: 3em;
  text-align: center;
  font-weight: 700;
  padding: 10px 0 5px;
  border-top: 4px solid white;
  border-bottom: 4px solid white;
}
.preco .preco-item span sup {
  font-size: 1.5rem;
}
.preco .preco-item ul {
  max-width: 300px;
  margin: 20px auto;
  font-size: 1.25em;
  font-style: italic;
  color: #7c7c7c;
}
.preco .preco-item ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
.preco .preco-item ul li:after {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  background: #2c70ff;
  border-radius: 50%;
}
.preco .preco-item a {
  max-width: 300px;
  display: block;
  margin: 20px auto;
  border: 4px solid;
  color: #222222;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2.25em;
  padding: 15px 0;
  text-align: center;
}

.qualidade {
  max-width: 960px;
  margin: 60px auto;
  display: flex;
  flex-wrap: wrap;
}
.qualidade .qualidade-item {
  flex: 1 1 300px;
  margin: 20px 10px;
}
.qualidade .qualidade-item h2 {
  font-size: 2.25em;
  color: #a4a4a4;
  margin-bottom: 20px;
}
.qualidade .qualidade-item h2::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 30px;
  margin-right: 10px;
}
.qualidade .qualidade-item:nth-of-type(3n+1) h2::before {
  background: #ae81ff;
}
.qualidade .qualidade-item:nth-of-type(3n+2) h2::before {
  background: #f9265e;
}
.qualidade .qualidade-item:nth-of-type(3n+3) h2::before {
  background: #66d9eb;
}
.qualidade .qualidade-item p {
  font-size: 1.25em;
  line-height: 1.4;
  color: #7c7c7c;
}

.newsletter {
  background: #f7f7f7;
  padding: 60px calc((100% - 960px) / 2);
  display: flex;
  flex-wrap: wrap;
}
.newsletter .newsletter-info {
  flex: 1 1 260px;
  margin: 0 10px;
}
.newsletter .newsletter-info h1 {
  font-size: 3em;
  color: #a4a4a4;
}
.newsletter .newsletter-info p {
  font-size: 1.25em;
  font-style: italic;
  max-width: 230px;
  color: #7c7c7c;
  margin-bottom: 10px;
}
.newsletter .newsletter-form {
  flex: 2 1 260px;
  margin: 0 10px;
  align-self: center;
  display: flex;
  flex-wrap: wrap;
}
.newsletter .newsletter-form input {
  flex: 3 1 200px;
  font-size: 1.25em;
  color: #7c7c7c;
  font-style: italic;
  font-family: "Nunito", Helvetica, Arial, sans-serif;
  border: 4px solid #2c70ff;
  background: transparent;
  padding: 15px 10px;
  margin: 0px;
  border-radius: 0px;
}
.newsletter .newsletter-form button {
  flex: 1 1 200px;
  font-family: "Nunito", Helvetica, Arial, sans-serif;
  font-size: 1.5em;
  font-weight: 700;
  text-transform: uppercase;
  background: #2c70ff;
  color: #FFF;
  margin: 0px;
  cursor: pointer;
  border: 0;
  padding: 15px 10px;
}
@media (max-width: 600px) {
  .newsletter .newsletter-form button {
    font-size: 1em;
  }
}

.footer {
  background: #2c70ff;
  height: 50px;
  display: flex;
  align-items: center;
}
.footer p {
  flex: 1;
  text-align: center;
  font-size: 1em;
  color: #222222;
}
