.newsletter{
  background: #f7f7f7;
  padding: 60px calc((100% - 960px) / 2);
  display: flex;
  flex-wrap: wrap;

  .newsletter-info{
    flex: 1 1 260px;
    margin: 0 10px;

    h1{
      font-size: 3em;
      color: $gray;
    }

    p{
      font-size: 1.25em;
      font-style: italic;
      max-width: 230px;
      color: #7c7c7c;
      margin-bottom: 10px;
    }
  }

  .newsletter-form{
    flex: 2 1 260px;
    margin: 0 10px;
    align-self: center;
    display: flex;
    flex-wrap: wrap;

    input{
      flex: 3 1 200px;
      font-size: 1.25em;
      color: #7c7c7c;
      font-style: italic;
      font-family: "Nunito", Helvetica, Arial, sans-serif;
      border: 4px solid $color-primary;
      background: transparent;
      padding: 15px 10px;
      margin: 0px;
      border-radius: 0px;
    }

    button{
      flex: 1 1 200px;
      font-family: "Nunito", Helvetica, Arial, sans-serif;
      font-size: 1.5em;
      font-weight: 700;
      text-transform: uppercase;
      background: $color-primary;
      color: #FFF;
      margin: 0px;
      cursor: pointer;
      border: 0;
      padding: 15px 10px;

      @media(max-width: 600px){
        font-size: 1em;
      }
    }
  }
}