.produtos{
    max-width: 960px;
    margin: 60px auto;

    h1{
        font-size: 3em;
        margin: 0 10px 60px;
    }

    .produtos-container{
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;

        .produtos-item{
            flex: 1 1 175px;
            margin: 10px;

            h2{
                font-size: 3em;
                color: $gray;
                background: #f7f7f7;
                padding: 60px 20px;
            }

        }
        
        .purple{
            border-top: 8px solid $purple;
        }

        .pink{
            border-top: 8px solid $purple;
        }

        .blue{
            border-top: 8px solid $blue;
        }
    }
}