.superinfo-bg{
    background-color: $color-secundary;
    color: #FFF;

    .superinfo{
        max-width: 960px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-top: 10px;

        p, a{
            margin: 0 10px 10px;
        }

        a{
            color:#FFF;
        }
    }

}