@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;1,400&display=swap');

$color-primary: #2c70ff;
$color-secundary: #122ab2;
$color-dark: #222222;
$gray: #a4a4a4;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Nunito', Helvetica, Arial, sans-serif;
    color: $color-dark;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;    
}

img{
    display: block;
    max-width: 100%;
}

//superinfo
@import 'superinfo';

//menu
@import 'menu';

.introducao{
    font-size: 3em;
    line-height: 1;
    max-width: 960px;
    margin: 0 auto;
    padding: 60px 10px;
}

//sobre
@import 'sobre';

//produto
@import 'produtos';

//preco
@import 'preco';